/* == GLOBAL ==*/
/* == Slider global */
/* == BTN ==*/
/* == Header ==*/
/* == Home ==*/
/* == ABOUT ==*/
/* == Footer ==*/
/* == Modal ==*/
/* == 404 page and Modal== */
/* == Media== */

@font-face {
  font-family: 'Segoe-Light';
  src: url('./fonts/Segoe-UI-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Segoe-Regular';
  src: url('./fonts/Segoe-UI-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Segoe-Semibold';
  src: url('./fonts/Segoe-UI-Semibold.ttf') format("truetype");
}


/* ============ Global ========== */
body{
  font-family: 'Segoe-Regular';
  color: #000;
}
p{
  margin: 0;
}
img{
  width: 100%;
  height: auto;
  position: relative;
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.no-p{
  padding: 0;
}
.no-m{
  margin: 0;
}
.cur-p{
  cursor: pointer;
}
.inline-block{
  display: inline-block;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

.color-white{
  color: #fff;
}

.color-black{
  color: #000;
}
.color-yellow{
  color: #ffa800;
}
section{
  width: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

select::-ms-expand {
  display: none;
}
nput::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}
input::-moz-placeholder { /* Firefox 19+ */

}
input:-ms-input-placeholder { /* IE 10+ */

}
input:-moz-placeholder { /* Firefox 18- */

}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}
textarea::-moz-placeholder { /* Firefox 19+ */

}
textarea:-ms-input-placeholder { /* IE 10+ */

}
textarea:-moz-placeholder { /* Firefox 18- */

}
/* ========== End Global ======= */

/* ========== Slider global ==== */

/* ==== End Slider global ========*/

/* =========== BTN ============= */
.btn{
  cursor: pointer;
  position: relative;
}
.btn.btn-default{

}
.btn.btn-default:hover{

}

/* =========== END BTN ========== */

/* ============= Header ========== */

header{

}
.top-header .navbar-nav,
.search-header .search-wrap{
  width: 780px;
}
.top-header{
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  font-size: 13px;
  font-family: 'Segoe-Light';
}
.top-header .top-header-wrap{
  width: 100%;
}
.top-header .navbar-nav{
  flex-direction: row;
  margin-left: 170px;
}
.top-header .navbar, .navbar-brand{
  padding: 0;
}
.top-header .navbar-nav .nav-link {
  padding: 5px 10px 8px;
  margin-right: 20px;
}
.top-header .track-order{
  font-family: 'Segoe-Semibold';
  position: absolute;    
  top:0;
  right:0;
  display: inline-block;
}
.top-header .track-order .nav-link{
  margin: 0;
  border-bottom: 1px dotted #ffa800;
  padding: 5px 0 2px;
}
.top-header .track-order .nav-link:hover{
  border-bottom: 0px;
}
.top-header .lang-wrap{
  font-family: 'Segoe-Regular';
  font-size: 13px;
  padding-top: 5px;
}
.top-header .lang{
  display: inline-block;
}
.top-header .lang:last-child{
margin-left: 30px;
}
.top-header .lang select{
  border: 0;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
   -moz-appearance: none;
   -webkit-appearance: none;
}
.top-header .lang i{
  color: #39356e;
  margin-left: 8px;
} 
.search-header-wrap{
  width: 100%;
  padding: 10px 0 15px;
}
.search-header-wrap .logo-wrap{
  width: 170px;
  display: inline-block;
}  
.search-header-wrap .search-wrap{
  display: inline-block;
}
.search-header-wrap .search-wrap .input-group{
  width: 100%;
}
.logo{
  /* width: 185px;
  height: 40px;
  padding: 0;
  margin: 0; */
}
.dropdown-menu {
  /* padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.1);
  border: 0; */
}
.dropdown-item {
  padding: 0;
}
.dropdown-item:last-child{
  margin: 0;
}
header .dropdown-item:hover {
  
}
header .nav-item.dropdown.show a.nav-link{
 
}

/* ============= End Header============= */

/* ============= Home ================== */

/* =========== End Home =============== */

/* =========== ABOUT ================== */

/* =========== End ABOUT ============== */

/* ============= CONTACT =============== */

/* ============= END CONTACT =========== */

/* ============= Footer =============== */
footer{}
/* =============End Footer ======= */

/* ======== 404 page and Modal ============= */
.page404{
  
}
/* ======== End 404 page and Modal ========= */


/* ================== Media ================= */
@media screen and (max-width: 1780px){
  
}
@media screen and (max-width: 1700px){
  
}
@media screen and (max-width: 1570px){
  
}
@media screen and (max-width: 1499px){
  
}
@media screen and (max-width: 1399px){
  
}
@media screen and (max-width: 1199px){
  
}
@media screen and (max-width: 1149px){
  
}
@media screen and (max-width: 991px){
  
}
@media screen and (max-width: 859px){
  
}
@media screen and (max-width: 767px){
  
}
@media screen and (max-width: 700px){
  
}
@media screen and (max-width: 576px){
  
}
@media screen and (max-width: 425px){
  
}
@media screen and (max-width: 320px){
  
} 
